/*
This file is part of MolarCalc.

    MolarCalc is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MolarCalc is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MolarCalc.  If not, see <https://www.gnu.org/licenses/>.
*/

/* cutive-mono-regular - latin-ext_latin */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap; /*As suggested*/
  src: url('./fonts/cutive-mono-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'),
       url('./fonts/cutive-mono-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cutive-mono-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cutive-mono-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/cutive-mono-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cutive-mono-v8-latin-ext_latin-regular.svg#CutiveMono') format('svg'); /* Legacy iOS */
}










@media screen and (max-width: 500px) {

  body {
    margin: 1vw;
  }

  .container {
    grid-template-columns: repeat(18, 20vw);
    grid-template-rows: repeat(10, 20vw);
    gap: 1vw;
    overflow: scroll;
  }

  .th {
    font-size: 12vw;
    border-radius: 2vw;
  }

  .th:hover {
    box-shadow: none;
    transform: translateY(4px) scale(0.97);
  }

  .elementsLink {
    font-size: 8vw;
  }

  .infoBox {
    font-size: 4.2vw;
  }

  #instructionsInfoBox {
    font-size: 4.5vw;
  }

  #inputArea {
    font-size: 4.5vw;
  }

  input {
    font-size: 8vw;
    margin: 4vw;
    border-radius: 2vw;
  }

  label {
    margin: 4vw auto 4vw 4vw;
  }

  #periodicLegend {
    margin-bottom: 1vw;
    gap: 1vw;
  }

  label.legend {
    font-size: 4vw;
    height: 5vw;
    padding: 4px 1.2vw;
  }

  .atomicNumber {
    font-size: 7vw;
  }

  .atomicSymbol {
    font-size: 11vw;
  }

  .footer {
    font-size: 3vw;
    margin-top: 1vw;
  }

  footer p {
    padding: 1vw;
  }

  #textInput {
    margin: 0 2vw;
  }

}
















@media screen and (min-width: 501px) {

  body {
    margin: 1vw;
  }

  .container {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.3vw;
  }


  .th {
    font-size: 3vw;
    border-radius: 0.4vw;
  }

  .th:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.2);
  }

  .th:active {
    box-shadow: none;
    transform: translateY(4px) scale(0.97);
  }

  .elementsLink {
    font-size: 2vw;
  }

  .infoBox {
    font-size: 1vw;
  }

  #instructionsInfoBox {
    font-size: 1.15vw;
  }

  #inputArea {
    font-size: 1.1vw;
  }

  input {
    font-size: 2vw;
    margin: 1vw;
    border-radius: 0.2vw;
  }

  label {
    margin: 1vw auto 1vw 1vw;
  }

  #periodicLegend {
    margin-bottom: 0.3vw;
    gap: 0.3vw;
  }

  label.legend {
    font-size: 1.1vw;
    height: 1.3vw;
    padding: 4px 0.3vw 4px 0.3vw;
  }

  .atomicNumber {
    font-size: 1.5vw;
  }

  .atomicSymbol {
    font-size: 3vw;
  }

  .footer {
    font-size: 0.9vw;
    margin-top: 1vw;
  }

  footer p {
    padding: 0.5vw;
    padding: 0.3vw;
  }

  #textInput {
    margin: 0 0.5vw;
  }

}





















html {
  background-color: rgb(40, 40, 40);
  scrollbar-color: rgb(80, 80, 80) rgb(20, 20, 20);
}


body {
  font-family: 'Cutive Mono', sans-serif;
  white-space: nowrap;
  height: 100%;
}

.container {
  display: grid;
}


.th {
  font-family: 'Cutive Mono', sans-serif;
  background-color: rgb(60, 60, 60);
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.2s ease-out;
}

.elementsLink {
  cursor: default;
  background-color: rgb(224, 224, 224);
  color: white;
}

.elementsLink:hover {
  transform: none;
  box-shadow: none;
}

.elementsLink:active {
  transform: none;
}

.infoBox {
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
  cursor: default;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  border-width: 1px;
}

.infoBox:hover {
  box-shadow: inherit;
  transform: none;
}

.infoBox:active {
  transform: none;
}

h1, h2 {
     color: white;
}


#inputArea {
  color: white;
}

input {
  font-family: inherit;
  width: 2.5em;
  background-color: rgb(40, 40, 40);
  color: white;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  border-width: 1px;
}

.splitLeft {
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  float: left;
}

.splitRight {
  width: auto;
  overflow-x: auto;
  text-align: right;
  margin-right: 12px;
  scrollbar-width: thin;
}

/*Alkali metal*/
.AM {
  background-color: rgb(150, 0, 50);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Alkaline earth metal*/
.AEM {
  background-color: rgb(180, 40, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Lanthanide*/
.L {
  background-color: rgb(120, 0, 20);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Actinide*/
.A {
  background-color: rgb(120, 0, 110);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Transition metal*/
.TM {
  background-color: rgb(220, 140, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Post-transition metal*/
.PTM {
  background-color: rgb(170, 180, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Metalloid*/
.M {
  background-color: rgb(70, 150, 40);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Reactive nonmetal*/
.RN {
  background-color: rgb(0, 80, 180);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Noble gas*/
.NG {
  background-color: rgb(30, 160, 150);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Unknown*/
.U {
  background-color: rgb(120, 120, 120);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Gray colors for all elements*/
.grayMode {
  background-color: rgb(50, 50, 50);
}

/*Commenting this out makes for a nice effect*/
.grayMode:hover {
  background-color: rgba(128, 128, 128, 0.75);
}

#periodicLegend {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  #periodicLegend {
    display: none;
  }
}

label.legend {
  flex: 1;
  font-family: 'Cutive Mono', sans-serif;
  margin: 0;
}

.atomicNumber {
  margin: 0;
  font-family: 'Cutive Mono', sans-serif;
}

.atomicSymbol {
  margin: 0;
  font-family: 'Cutive Mono', sans-serif;
}

.footer {
  color: white;
}

footer p {
  text-align: center;
  white-space: normal;
  margin: 0;
}

#textInput {
  width: 100%;
  height: 80%;
  border: none;
  padding: 0;
}

/*Makes links more readable with the dark UI*/
a:link {
  color: rgb(120, 190, 255);
}

  /*Makes links more readable with the dark UI*/
  a:visited {
    color: rgb(60, 150, 255);
  }